p
  label(for='title') Title
  input#title.title(name='title' type='text' value=book.title)
p
  label(for='author') Author
  input#author.author(name='author' type='text' value=book.author)
p
  label(for='genre') Genre
  input#genre.genre(name='genre' type='text' value=book.genre)
p
  label(for='year') Year
  input#year.year(name='year' type='text' value=book.year)